body{
    /*inherited*/
    font-family: Roboto,Arial;
    margin:0;
    padding-bottom:1000px;
    padding-top:80px;
    padding-left: 94px;
    padding-right: 24px;
    background-color:rgb(249, 249, 249) ;
   
  }

p {
    margin-top: 0;
    margin-bottom: 0;
  }
  